.clickMe {
    /* background-color: gray; */
}

.clickMe p {
    width: 55%;
    /* background-color: lime; */
    text-align: center;
    margin-top: 25px;
    color: lightslategray;
}


.move {
    -webkit-animation: action 2s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}