/* .clickMe {
    background-color: gray;
} */

.clickMe {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.clickMe p {
    height: 200px;
    /* width: 55%; */
    /* background-color: lime; */
    text-align: center;
    /* margin-top: 25px; */
    color: black;

    z-index: 2;
    background-color: white;

    margin: 0;
    border: 3px solid #cc881b;
}

.move {
    -webkit-animation: action 2s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}